// Defined variables
$base-font-size: 16px;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$bg-color: #282c34;
$fg-color: #eeeeee;
$accent-color: #ffc8c8;
$accent-color-hover: #ffc8c8e3;
$accent-color2: #a8eea8;
$accent-color2-hover: #a8eea8db;
$light-grey: #eeeeeecf;

// Debugging purposes
// * {
// background: rgba(0, 255, 0, 0.1);
// }

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  color: $fg-color;
  text-align: center;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: $h1-font-size;
}

.loading {
  margin-top: 3rem;
  font-size: $h1-font-size;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  color: $fg-color;
}

.link:hover {
  color: $accent-color;
}

#scores {
  font-size: $h2-font-size;
}

#emphasis {
  font-size: $h2-font-size;
  color: $accent-color2;
}

#correct {
  color: $accent-color2;
}

#incorrect {
  color: $accent-color;
}

button {
  font-size: $h2-font-size;
  border: none;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem;
}

button:hover {
  background-color: $light-grey;
}

.article-containers {
  display: flex;
  justify-content: center;
  .article-entry {
    cursor: pointer;
    max-width: 40%;
    min-width: 40%;
    padding: 2rem;
    margin: 2rem;
    text-align: left;
    background-color: $fg-color;
    color: $bg-color;
    border-radius: 2rem;
    .article-title {
      font-size: $h2-font-size;
    }
    .authors {
      font-size: 1rem;
      list-style: none;
      padding: 0;
      .author-name {
        display: inline;
      }
    }
  }
  .old {
    background-color: $accent-color !important;
  }
  .old:hover {
    background-color: $accent-color-hover !important;
  }
  .new {
    background-color: $accent-color2 !important;
  }
  .new:hover {
    background-color: $accent-color2-hover !important;
  }
  .article-entry:hover {
    background-color: $light-grey;
  }
}
