// Defined variables
$base-font-size: 18px;
$h1-font-size: 2rem;
$bg-color: #282c34;
$fg-color: #EEEEEE;
$accent-color: #FFC8C8;

// Debugging purposes
* {
  // background: rgba(0, 255, 0, 0.1);
}

html {
  font-size: $base-font-size;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  color: $fg-color;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  margin-top: 3rem;
  font-size: $h1-font-size;
}

.article-containers {
  display: flex;
  justify-content: center;
  .article-entry {
    cursor: pointer;
    max-width: 40rem;
    padding: 2rem;
    margin: 2rem;
    text-align: left;
    background-color: $fg-color;
    color: $bg-color;
    border-radius: 2rem;
    .article-title {
      font-size: $h1-font-size;
    }
    .authors {
      font-size: 1rem; 
      list-style: none;
      padding: 0;
      .author-name {
        display: inline;
      }
    }
  }
  .article-entry:hover {
    background-color: $accent-color;
  }
}