.article-entry {
  /* margin: 5em; */
  padding: 50px;
  text-align: left;
  border-top: 3px solid red;
}

.article-title {
  font-size: 30px;
  font-weight: bold;
}

.authors {
  font-size: 20px;
  list-style: none;
  padding: 0;
}

.author-name {
  display: inline;
}

.abstract {
  font-size: 16px;
}